* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    background-color: grey;
    font-family: "Jersey 15", serif;
    overflow-x: hidden;
}

article {

    font-weight: 400;
    font-style: normal;
    width: auto;
    max-width: 550px;
    margin: auto;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

#title {
    text-align: center;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

header{
    width: auto;
    max-width: 550px;
    margin: auto;
}

ul{
    list-style-type: none;
}

p {
    padding: 10px;
}

#lastfm {
    display: inline;
    width: 100%;
    height: 400px;
    overflow: hidden;
    pointer-events: none;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

footer {
    text-align: center;
    background-color: black;
    margin: auto;
    color: white;
}

a:link {
    color: orange;
}

a:visited {
    color: orange;
    text-decoration: line-through;
}