* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Jersey 15", serif;
    font-weight: 400;
    font-style: normal;
    width: auto;
    max-width: 900px;
}

p {
    padding: 1.2rem;
}

.lastfm {
    display: inline;
    width: 100%;
    max-width: 400px;
    height: 350px;
    overflow: hidden;
    pointer-events: none;
}